<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Admin - Social Network</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>

  <body>

    <!-- Navbar -->
    <div id="nav">
      <img class="nav-logo" src="/img/logo.svg">
      <p class="lead">Social Network</p>
      <div class="spinner-grow text-primary" role="status" id="nav-loading"></div>
      <img id="nav-avatar">
    </div>

    <div id="main-content">

      <!-- Empty Template -->
      <template v-if="!posts || !posts.length">
        <div class="">
          <img src="/img/no_posts.svg">
          <p class="lead">No Post Yet !</p>
          <p>Be the first to post on your society social network.</p>
        </div>
      </template>

      <!-- Post Template -->
      <template v-for="post in posts">
        <div class="card card-hover post" :id="'post-' + post.postId">

          <div class="card-body">
            <img class="post-avatar" v-bind:src="post.avatar">
            <p class="post-display-name">{{post.displayName}}</p>
            <p class="post-date">{{new Date(post.creationDate).toLocaleString()}}</p>
            <p class="card-text fs-sm" v-if="post.type == 'text'">{{post.content}}</p>
            <img class="post-img" v-if="post.type == 'image'" v-bind:src="post.content">
            <i class="fas fa-trash delete-post" v-on:click="deletePost(post.postId)"></i>
          </div>

          <div class="card-footer fs-sm text-muted">
            <i class="fal fa-heart" v-on:click="togglePostLike(post.postId)"></i> {{post.likes}}
            <i class="fal fa-comment" v-on:click="togglePostComment(post.postId)"></i>
            <div id="comments-container">
              <div class="comments-list"></div>
              <div class="input-group">
                <input class="form-control" type="text" id="comment-input" placeholder="Comment ...">
                <button class="btn btn-primary" type="button" v-on:click="commentPost(post.postId)">Comment</button>
              </div>
            </div>
          </div>

        </div>
      </template>

    </div>

    <!-- NOTE: New Post Button -->
    <div class="new-post">
      <i class="fad fa-feather-alt"></i>
      <p>New Post</p>
    </div>

    <!-- NOTE: New Post Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="new-post-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">New Post</h5>
            <button type="button" class="btn-close"></button>
          </div>

          <div class="modal-body">

            <!-- Tab -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a href="#new_post_text" class="nav-link active" data-bs-toggle="tab" role="tab">Text</a>
              </li>
              <li class="nav-item">
                <a href="#new_post_img" class="nav-link" data-bs-toggle="tab" role="tab">Image </a>
              </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content">
              <!-- Post Text -->
              <div class="tab-pane fade show active" id="new_post_text" role="tabpanel">
                <div class="form-floating">
                  <textarea class="form-control" id="post-content" style="height: 120px;" placeholder=""></textarea>
                  <label for="post-content">Your Post:</label>
                </div>
              </div>
              <!-- Post Image -->
              <div class="tab-pane fade" id="new_post_img" role="tabpanel">
                <input class="form-control" type="file" id="post-file">
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" id="create">Create</button>
          </div>

        </div>
      </div>
    </div>

    <!-- NOTE: Profile Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="profile-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">Your Profile</h5>
            <button type="button" class="btn-close"></button>
          </div>

          <div class="modal-body">
            <!-- Display Name -->
            <div class="mb-3">
              <label for="text-input" class="form-label">Display Name</label>
              <input class="form-control" type="text" id="display-name" value="">
            </div>
            <!-- Email -->
            <div class="mb-3">
              <label for="email-input" class="form-label">Email</label>
              <input class="form-control" type="email" id="email" value="">
            </div>
            <!-- Avatar -->
            <div class="mb-3">
              <label for="file-input" class="form-label">Avatar</label>
              <input class="form-control" type="file" id="avatar">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-sm" id="delete">Delete My Account</button>
            <button type="button" class="btn btn-outline-warning btn-sm" id="logout">Logout</button>
            <button type="button" class="btn btn-primary btn-sm" id="save">Save</button>
          </div>

        </div>
      </div>
    </div>

    <div id="toast-container"></div>
    <div id="user_data">@@USER_DATA@@</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/js/around.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    <script src="/js/main.js"></script>
    <script src="/js/admin.js"></script>
  </body>

</html>
